<div>
	<div class="panel panel-default mybooks-mainpanel">
  		<div class="panel-body mybooks-mainpanelbody">

			<div class="panel panel-default mybooks-filterpanel">
  				<div class="panel-body">
    				<div class="row">
    					<div class="col-xs-1">
    						<button type="button" class="btn btn-default navbar-btn" ng-click="addBook()">
		    					<span class="glyphicon glyphicon-plus"></span>
    						</button>
    					</div>
    					<div class="col-xs-11">
    						<div class="input-group">
								<input type="text" class="form-control" placeholder="Search..." ng-model="bookFilter"></input>
  								<span class="input-group-addon glyphicon glyphicon-search"></span>
							</div>
    					</div>
		    		</div>
		  		</div>
			</div>

		</div>
	</div>

	<div ng-show="loading" class="mybooks-loading">Loading...</div>
	<div ng-hide="loading" class="row">

		<book title="{{book.title}}" author="{{book.author}}" cover="{{book.cover}}" ng-repeat="book in books | filter:bookFilter">
			{{book.summary}}
		</book>

	</div>

</div>
